@media screen and (max-width: 1920px) and (min-width: 980px) {
	.conteiner {
		width: 940px;
		margin: 0 auto;
	}
	header {
		width: 100%;
		.header-menu {
			width: 100%;
			.header-menu-list {
				display: flex;
				justify-content: center;
				padding: 0;
				.header-menu-element {
					padding: 10px;
					a {
						text-decoration: none;
						font-size: 18px;
						color: black;
					}
					a:hover {
						color: red;
					}
				}
				.header-menu-element:nth-child(1),
				.header-menu-element:nth-child(2),
				.header-menu-element:nth-child(3),
				.header-menu-element:nth-child(4),
				.header-menu-element:nth-child(5),
				.header-menu-element:nth-child(6) {
					margin-top: 4px;
				}
				.header-menu-element:nth-child(2) {
					margin-left: 50px;
				}
				.header-menu-element:nth-child(6) {
					margin-right: 50px;
				}
				.header-menu-element:nth-child(12) > span {
					display: none;
				}
				.header-menu-element.active > a {
					color: red;
				}
			}
		}
		.header-menu.fixed {
			position: fixed;
			top: 0;
			left: 0;
			background-color: grey;
		}
	}
	main {
		width: 100%;
		height: 800px;
		background-color: #ffa;
	}
	section.solutions {
		width: 100%;
		height: 700px;
		background-color: #ff9999;
		h6 {
			width: 100%;
			text-align: center;
			font-size: 30px;
			color: orange;
			padding: 120px 0;
		}
	}
	section.clients {
		width: 100%;
		height: 500px;
		background-color: #ff99ff;
		.conteiner {
			h6 {
				width: 100%;
				text-align: center;
				font-size: 30px;
				color: orange;
				padding: 120px 0;
			}
			.data-clients {
				.list-clients {
					position: relative;
					overflow: hidden;
					display: flex;
					.element-clients {
						padding-right: 45px;
						a.mgid {
							display: block;
							margin-top: 17px;
							width: 152px;
							height: 86px;
							transition: 0.2s all;
							background: url(../img/sprites/mgid_sprite.png) 0 0 no-repeat;
						}
						a.mgid:hover {
							background-position: 0 -92.1px;
						}
						a.dari {
							display: block;
							margin-top: 17px;
							width: 39px;
							height: 79px;
							transition: 0.2s all;
							background: url(../img/sprites/dari-kz_sprite.png) 0 0 no-repeat;
						}
						a.dari:hover {
							background-position: -41px 0;
						}
						a.diagnostica {
							display: block;
							width: 163px;
							height: 120px;
							transition: 0.2s all;
							background: url(../img/sprites/diagnostica_sprite.png) 0 0 no-repeat;
						}
						a.diagnostica:hover {
							background-position: -169px 0;
						}
						a.atameken {
							display: block;
							margin-top: 17px;
							width: 154px;
							height: 80px;
							transition: 0.2s all;
							background: url(../img/sprites/atameken_sprite.png) 0 0 no-repeat;
						}
						a.atameken:hover {
							background-position: 0 -83px;
						}
						a.engler {
							display: block;
							margin-top: 25px;
							width: 214px;
							height: 66px;
							transition: 0.2s all;
							background: url(../img/sprites/engler_sprite.png) 0 0 no-repeat;
						}
						a.engler:hover {
							background-position: 0 -68px;
						}
					}
					.element-clients:nth-child(1) {
						padding-left: 15px;
					}
				}
			}
		}
	}
	section.team {
		width: 100%;
		height: 500px;
		background-color: #ff9999;
		clear: both;
		h6 {
			width: 100%;
			text-align: center;
			font-size: 30px;
			color: orange;
			padding: 120px 0;
		}
	}
	section.contacts {
		width: 100%;
		height: 800px;
		background-color: #ff9999;
		h6 {
			width: 100%;
			text-align: center;
			font-size: 30px;
			color: orange;
			padding: 120px 0;
		}
	}
	footer {
		height: 170px;
		border-top: 4px solid #ff4e50;
		.conteiner {
			margin: 0 auto;
			ul {
				font-size: 0;
				li {
					width: 33%;
					display: inline-block;
					vertical-align: top;
				}
				.footer-element1 {
					a {
						text-decoration: none;
						.footer-logo {
							color: #ff4e50;
							font-size: 17px;
							padding-top: 30px;
						}
					}
				}
				.footer-element2 {
					font-size: 14px;
					border-left: 2px solid black;
					.footer-sublist {
						font-size: 14px;
						padding-top: 10px;
						.footer-subelement {
							padding: 0 0 7px 20px;
							display: block;
							margin: 0;
							a {
								color: black;
								text-decoration: none;
							}
							a:hover {
								color: #ff4e50;
							}
						}
					}
				}
				.footer-element3 {
					border-left: 2px solid black;
					.footer-sublist {
						font-size: 14px;
						padding-top: 10px;
						.footer-subelement {
							width: 100%;
							padding: 0 0 7px 20px;
							display: block;
						}
					}
				}
			}
			.footer-copyright {
				font-size: 14px;
				text-align: center;
				padding-top: 20px;
			}
		}
	}
}